<head>
  <title>A-Frame WebVR: Text</title>
	<script src="https://rawgit.com/bryik/aframe-bmfont-text-component/master/dist/aframe-bmfont-text-component.js"></script>
</head>

<body>
  <a-scene>
    <!-- CAMERA -->
     <a-entity camera position="0 0 0" look-controls wasd-controls="enabled: false;"></a-entity>

    <!-- LIGHTS -->
    <a-entity light="type: ambient; color: #888"></a-entity>
    <a-entity light="type: directional; color: #ffcc00; intensity: .4" position="5 5 1"></a-entity>

    <!--  BACKGROUND  -->
		<a-plane position="0 0 -3" color="#ffffff" height="4" width="9"></a-plane>

		<!--  CHILD ELEMENTS: the third position element defines how far is the whole board -->

		<a-plane position="-1.23 -0.3 -2.9" color="black" height="3" width="5"></a-plane>

		<a-entity position="1.4 0.75 -2.9" bmfont-text="color: red; text: Require Permission; align: left;" rotation="" scale="1.5 1.5 1.5" visible="">
		</a-entity>

		<a-entity position="-7.5 1.5 -2.9" bmfont-text="color: black; text: Description for Robbie; align: center;" rotation="" scale="2.5 2.5 2.5" visible="">
		</a-entity>

		<!--  should be different  -->
		<a-entity position="-3.5 0 -2.9" bmfont-text="color: white; text: You can print your 3d Models here.; align: left;"
							rotation="" scale="2 2 2" visible="" geometry="primitive: plane; width: 2; height: auto">
		</a-entity>
		<a-entity position="-3.5 -1 -2.9" bmfont-text="color: white; text: Contact Fablab Managers in case of any technical doubt.; align: left;" 
							rotation="" scale="2 2 2" visible="" geometry="primitive: plane; width: 2; height: auto" width="10">
		</a-entity>

  </a-scene>
</body>