<head>
  <title>Audio Controlled by Image detection in A-frame - functional</title>

  <script src="https://cdn.jsdelivr.net/gh/aframevr/aframe@1c2407b26c61958baa93967b5412487cd94b290b/dist/aframe-master.min.js"></script>
  <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar-nft.js"></script>

  <!-- customizes scripts -->
  <script>
    //To avoid playing from start if the marker flickers, not sure if needed, but it might be a failsafe when you have mutiple markers and want to make sure the first finishes before launching the second
    var playing = false;

    //HTML5 audio, will need user touch input to start on mobile
    var hiroSound = new Audio("https://cdn.jsdelivr.net/gh/rajaben-ali/files/sound/sound1.mp3");
    var kanjiSound = new Audio("https://cdn.jsdelivr.net/gh/rajaben-ali/files/sound/taemin-move.mp3");
    var currentSound = "";

    function stopAudio(audio) {
      console.log("stopAudio called and in function");
      audio.pause();
      audio.currentTime = 0;
      playing = false;
    }

    function startAudio(audio) {
      console.log("startAudio called and in function");
      audio.volume = 0.05;
      audio.play();
      playing = true;
    }

    function getMarkerDetectionStatus(markerId) {
      return document.querySelector(markerId).object3D.visible;
    }

    AFRAME.registerComponent('soundhandler', {
      init: function() {
        // Set up the tick throttling. Will check if marker is active every 500ms
        this.tick = AFRAME.utils.throttleTick(this.tick, 500, this);
      },
      tick: function(t, dt) {

        if (!playing) {
          if (document.querySelector("#kanji").object3D.visible) {
            // KANJI MARKER IS PRESENT
            // play kanji audio
            startAudio(kanjiSound);
            currentSound = "kanji";
          }
          else if (document.querySelector("#hiro").object3D.visible) {
            // HIRO MARKER IS PRESENT
            // play hiro audio
            startAudio(hiroSound);
            currentSound = "hiro";
          }
        } else {
          switch (currentSound) {
            case 'kanji':
              if (getMarkerDetectionStatus('#kanji') == false)
                stopAudio(kanjiSound);
              break;
            case 'hiro':
              if (getMarkerDetectionStatus('#hiro') == false)
                stopAudio(hiroSound);
              break;
            default:
              break;
          }
        }

      }
    });
  </script>
</head>

<body  style="margin : 0px; overflow: hidden;">
	<!-- minimal loader shown until image descriptors are loaded -->
  <div class="arjs-loader">
    <div>Loading, please wait...</div>
  </div>
	<a-scene
		vr-mode-ui="enabled: false;"
		renderer="logarithmicDepthBuffer: true;"
		embedded
		arjs="trackingMethod: best; sourceType: webcam;debugUIEnabled: false;"
	>
    <!-- CAMERA -->
     <a-entity camera position="0 0 0" look-controls wasd-controls="enabled: false;"></a-entity>

    <!-- LIGHTS -->
    <a-entity light="type: ambient; color: #888"></a-entity>
    <a-entity light="type: directional; color: #ffcc00; intensity: .4" position="5 5 1"></a-entity>

    
		<!-- hiro marker -->
    <a-marker soundhandler cursor="rayOrigin: mouse" emitevents="true" preset='hiro' id="hiro">
      <!-- Display following on hiro marker detected -->
      <!--  BACKGROUND  -->
		<a-plane position="0 0 -3" color="#ffffff" height="4" width="9"></a-plane>

		<!--  CHILD ELEMENTS: the third position element defines how far is the whole board -->

		<a-plane position="-1.23 -0.3 -2.9" color="black" height="3" width="5"></a-plane>

		<a-entity position="1.4 0.75 -2.9" bmfont-text="color: red; text: Require Permission; align: left;" rotation="" scale="1.5 1.5 1.5" visible="">
		</a-entity>

		<a-entity position="-7.5 1.5 -2.9" bmfont-text="color: black; text: Description for Robbie; align: center;" rotation="" scale="2.5 2.5 2.5" visible="">
		</a-entity>

      <a-entity position="-3.5 0 -2.9" bmfont-text="color: white; text: You can print your 3d Models here.; align: left;"
							rotation="" scale="2 2 2" visible="" geometry="primitive: plane; width: 2; height: auto">
		</a-entity>
		<a-entity position="-3.5 -1 -2.9" bmfont-text="color: white; text: Contact Fablab Managers in case of any technical doubt.; align: left;" 
							rotation="" scale="2 2 2" visible="" geometry="primitive: plane; width: 2; height: auto" width="10">
		</a-entity>
    </a-marker>

    <!-- kanji marker -->
    <a-marker soundhandler cursor="rayOrigin: mouse" emitevents="true" preset='kanji' id="kanji">
      <!-- Display following on kanji marker detected -->
      <!--  BACKGROUND  -->
      <a-plane position="0 0 -3" color="#ffffff" height="4" width="9"></a-plane>

      <!--  CHILD ELEMENTS: the third position element defines how far is the whole board -->

      <a-plane position="0 -0.3 -3" color="black" height="3" width="5"></a-plane>

      <a-entity position="0 0.75 -3" bmfont-text="color: red; text: Require Permission; align: left;" rotation="" scale="1.5 1.5 1.5" visible="">
      </a-entity>

      <a-entity position="-7.5 1.5 -3" bmfont-text="color: black; text: Description for Robbie; align: center;" rotation="" scale="2.5 2.5 2.5" visible="">
      </a-entity>

      <a-entity position="-3.5 -1 -3" bmfont-text="color: white; text: Contact Fablab Managers in case of any technical doubt.; align: left;" 
                rotation="" scale="2 2 2" visible="" geometry="primitive: plane; width: 2; height: auto" width="10">
      </a-entity>
		</a-marker>
	</a-scene
</body>